@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primary-color: #4BBFF9;
$black-color: #000000;
$font-color: #8391a1;
$dark-color: #101316;
$border-color: #dadada;
$white-color: #ffffff;
$font-family: "Poppins", serif;
$secondary-color: #000000;
$grey-color: #838383;
$grey-color1: #888888